.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    background: $primary;
    border: none;
    .email-section,.contact-section,.Address-section{
        width: 15%;
        color: white;
        border-right: 2px solid white;
    }
}